<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body>
        <h1 class="text-center">Add New Item</h1>
        <form action="/add" method="POST">
            <table class="table table-stripped text-center" style="max-width: 600px; margin-left: auto; margin-right: auto;">
                <tr >
                    <td> <label for="name">Item Name</label> </td>
                    <td> <input type="text" name="name" required="required" autofocus="autofocus"> </td>
                </tr>
                <tr >
                    <td> <label for="price">Item Price</label> </td>
                    <td> <input type="number" name="price" required="required"> </td>
                </tr>
                <tr >
                    <td> <label for="quantity">Item Quantity</label> </td>
                    <td> <input type="number" name="quantity" required="required"> </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-success">Add to List</button>
                        <a href="/" class="btn btn-warning">Cancel</a>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>